@model IEnumerable<TalentCorp.Entities.Empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .card {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 8px;
        box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 20%);
    }

    .rowOne {
        border-radius: 8px;
        background-color: rgba(23, 141, 232, 0.3);
    }

    .firstCell {
        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: 8px 0 0 8px;
    }

    .lastCell {
        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: 0 8px 8px 0;
    }

    .headRow {
        margin-bottom: 20%;
    }

    td {
        padding-bottom: 5%;
    }

    tr {
        border-bottom: 0pt solid white;
    }

</style>

<h2 style="text-align:center; margin-top:2%; margin-bottom:2%;">Lista de empleados</h2>

<div class="card">
    <table class="table">
        <thead class="headRow">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                Fecha de Ingreso
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr class="rowOne">
                <td class="firstCell">
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puesto!.Nombre)
                </td>
                <td class="lastCell">
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Ver detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>