@model IEnumerable<TalentCorp.Entities.Entrevista>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrevista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidato.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
